body {
  font-family: 'Lato', sans-serif;
  background: whitesmoke;
}

a:link {
  text-decoration: none;
  color: dodgerblue;
}

a:visited {
  color: dodgerblue;
}

a:hover {
  color: #004282;
}

.container > p {
  text-align: justify;
}

.container {
  margin: 0 auto;
  padding: 8px;
  width: 768px;
}

.container h3 {
  line-height: 10pt;
}

.container span {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.container li {
  list-style-type: square;
  padding-bottom: 4px;
}

.site-avatar {
  float: left;
  width: 128px;
}

.site-avatar img {
  border: #dfdfdf;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  width: inherit;
}

.site-info {
  float: left;
  margin-left: 32px;
  margin-right: 32px;
}

.site-name {
  margin: 0;
  color: #333;
  font-weight: 512;
  font-size: 32px;
}

.site-description {
  margin: 0;
  font-size: 16px;
  width: 448px;
  padding-top: 8px;
  text-align: justify;
}

.site-links {
  padding-top: 8px;
  float: left;
  text-align: center;
  color: #666;
  line-height: 128%;
  width: 128px;
}

.site-links p {
  margin: 0 0 8px;
  font-size: 16px;
}

.site-links a {
  text-decoration: none;
}

.foot {
  font-size: 12px;
  text-align: center;
  color: #666;
}

@media (max-width:784px) {
  ul {
    padding-left: 20px;
  }

  .container, .container > p, .site-description {
    width: 98%;
  }

  .site-info {
    margin: 0 0 8px;
  }

  .site-avatar, .site-links {
    display: none;
  }
}
