:root { --rgb: 0, 82, 164; }
body { background:whitesmoke; font-family:sans-serif; font-size:14.5px; }
summary { cursor:pointer; }
a:link, a:visited { text-decoration:none; color:rgba(var(--rgb), 1.0); }
a:hover { color:rgba(var(--rgb), 0.8); }
.h { display: flex; }
.c { padding:8px; margin:0 auto; width:768px; }
.c h3 { margin:12px 0; }
.c span { text-decoration:underline dotted; }
.c ul { margin-top: 8px; padding-left:32px; }
.c li { list-style:square; padding: 4px; }
.sa { display:flex; align-items:center; }
.sa img { border-radius:5px; }
.sb { width:16px; height:16px; }
.sc { width:10px; height:10px; }
.si { margin:0 16px 0 0; }
.sn { margin:0; }
.sd { margin:8px 0 0 0; }
.sy { display: none; }
.f { font-size:12px; text-align:center; color:#666; }
.d { font-size:12.5px; margin:4px 0 0 0; line-height:1.4; }
@media (max-width:784px) {
 ul { padding-left:20px; }
 .c, .c>p, .sd { width:98%; }
 .si { margin:0 0 8px; }
 .sa { display:none; }
}
