:root { --rgb: 0, 82, 164; }
body { background:whitesmoke; font-family:sans; font-size:14.5px; }
a:link, a:visited { text-decoration:none; color:rgba(var(--rgb), 1.0); }
a:hover { color:rgba(var(--rgb), 0.8); }
.h { display: flex; }
.c { padding:8px; margin:0 auto; width:768px; }
.c h3 { line-height:10pt; }
.c span { text-decoration:underline; text-decoration-style:dotted; }
.c li { list-style-type:square; padding-bottom:8px; }
.sa { display:flex; align-items:center; }
.sa img { border-radius:5px; }
.si { margin:0 16px 0 0; }
.sn { margin:0; }
.sd { margin:8px 0 0 0; }
.f { font-size:12px; text-align:center; color:#666; }
@media (max-width:784px) {
 ul { padding-left:20px; }
 .c, .c>p, .sd { width:98%; }
 .si { margin:0 0 8px; }
 .sa { display:none; }
}
